$body-padding: 2rem;
$body-padding-x: 250px;
$header-height: 80px;

$app-border-radius: .375rem;
$app-product-card-padding: .3rem;
$app-product-card-container-padding: 1rem;

$app-body-pad-x: calc(10% + 0.5rem);

$primary-color : #D31B27;